.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  height: 188px;
  position: relative;
  top: 32px;
}

.logo-text{
  font-family: monospace;
  font-size: 36px;
  font-weight: 800;
  line-height: 43.57px;
  letter-spacing: 1px;
  text-align: left;
}

.header-icons{
  display: flex;
  gap: 1rem;
}

.header-icons p{
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  letter-spacing: 1px;
  text-align: left;
}

.arrow-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

